<div id="service-description-wrapper" *ngIf="data">
  <div id="service-description-header">
    <div id = "service-description-icon-container">
        <mat-icon *ngIf="iconReady" id="service-description-icon" svgIcon="description-icon"></mat-icon>
        &nbsp;
    </div>
    <div id = "service-description-title-container" *ngIf="data">
        <span id="service-name">{{data['name']}}</span>
    </div>
  </div>
  <hr id="service-description-separator">
  <div id="service-description-content" *ngIf="data">
    <div id="service-description-text-container">
      <span>{{data['description']}}</span>
    </div>
    <div id="service-description-properties-container">
      <span><span class="service-description-attritube">Required Position to request:</span> {{data['requiredPosition']}}</span>
      <span><span class="service-description-attritube">Service type:</span> {{data['serviceType']['serviceType']}}</span>
      <span><span class="service-description-attritube">Average Responsetime:</span> {{responseTime}} minutes</span>
    </div>
  </div>
</div>