.header {
    position: relative;
    height: 100px;
    width: 100%;
}
.content {
    position: relative;
    width: 100%;
    min-height: 500px;
}

#company-text-container{
    text-align:center;
    margin-top:25px;
}