<form name="registrationForm" #f="ngForm" (ngSubmit)="attemptUserRegistration(f)">
  <label><b>Username</b></label>
  <input name="username" ngModel type="text" placeholder="Enter Username" #username="ngModel" required>
  <span *ngIf="registrationErrors.username">{{registrationErrors.username}}</span>
  <br/>

  <label><b>Password</b></label>
  <input name="password" ngModel type="password" placeholder="Enter Password" #password="ngModel" required>
  <span *ngIf="registrationErrors.password">{{registrationErrors.password}}</span>
  <br/>

  <label><b>Repeat Password</b></label>
  <input name="repeatpassword" ngModel type="password" placeholder="Repeat Password" #repeatpassword="ngModel" required>
  <br/>

  <label><b>Employee ID</b></label>
  <input name="employeeid" ngModel type="text" placeholder="Enter your employee ID!" #employeeid="ngModel" required>
  <span *ngIf="registrationErrors.employeeid">{{registrationErrors.employeeid}}</span>
  <br/>

  <label><b>Email</b></label>
  <input name="email" ngModel type="text" placeholder="Enter your email address!" #email="ngModel" required>
  <span *ngIf="registrationErrors.email">{{registrationErrors.email}}</span>
  <br/>

  <label><b>Forename</b></label>
  <input name="forename" ngModel type="text" placeholder="Enter your forename" #forename="ngModel" required>
  <span *ngIf="registrationErrors.forename">{{registrationErrors.forename}}</span>
  <br/>

  <label><b>Surname</b></label>
  <input name="surname" ngModel type="text" placeholder="Enter your surname" #surname="ngModel" required>
  <span *ngIf="registrationErrors.surname">{{registrationErrors.surname}}</span>
  <br/> 

  <button type="submit" [disabled]="!f.valid || !doPasswordsMatch(password.value,repeatpassword.value)">Register!</button>
</form>