#service-request-form-wrapper{
    height:calc(100% - 5px);
    max-height:calc(100% - 5px);
    margin-top:5px;
    overflow:hidden;

    background:#9d7fc1;
}

#requestform{
    position:relative;
    background:white;
    margin-left:auto;
    margin-right:auto;
    height:calc(100% - 10px);
    max-height:calc(100% - 10px);
    margin-top:5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    overflow-y:auto;
}

#requestform > *{
    margin-top:15px;
}

.inputfield{
    
}

.select{

}

.checkbox{

}
.radiogroup{

}

.radiogroup >:not(:first-child){
    margin-left:10px;
}

.radiobutton{
    
}
.textarea{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.center-horizontally{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#request-form-submit-button-container{
    text-align: center;
}

.uniform-width{
    width:65% !important;
    max-width:65% !important;
}