<form name="loginForm" #f="ngForm" (ngSubmit)="attemptLogin(f)">
    <span>{{loginerror}}</span>
    <br/>
    <label><b>Username</b></label>
    <input name="username" type="text" ngModel placeholder="Enter Username" #username="ngModel" required>
    <br/>
    <label><b>Password</b></label>
    <input name="password" type="password" ngModel placeholder="Enter Password" #password="ngModel" required>
    <br/>
    <button type="submit" [disabled]="!f.valid">Login</button>
    <button type="button" (click)="showHideRegistrationForm()">Registration</button>
    
</form>

<div *ngIf="registrationFormToggle">
    <registration-form></registration-form>
</div>