#navbar-container{
    display:flex;
    height:25px;
    min-height:25px;
    max-height:25px;
}

#navbar{
    display: inline-flex;
}
#navbar-decorator{
    background:linear-gradient(to right,#734aa5,#9d7fc1);
    flex:1;
}

.service-description-nav-tab-menu-element{
    height:25px !important;
}

#serviceview-content-container{
    position:relative;
    height:calc(100% - 30px);
    max-height:calc(100% - 30px);
    width:calc(100% - 10px);
    max-width:calc(100% - 10px);
    margin-left:auto;
    margin-right:auto;
}