<div id="form-container" class="center-confirm-element">
  <form id="accountform" name="accountForm">

    <div id="change-header" class="mat-typography center-login-element">
      <div id="change-text-decorator">&nbsp;</div>
      <span id="change-text" class="mat-display-1">Change account information</span>
    </div>

    <div id="input-fields-container" class="center-confirm-element">
      <mat-form-field class="mat-form-field">
        <label>
          <b>Change Username</b>
        </label>

        <input name="username" matInput type="text" value="memeboy123">
      </mat-form-field>
      <br/>

      <mat-form-field class="mat-form-field">
        <input name="password" matInput type="password" placeholder="New password">
      </mat-form-field>
      <br/>
      <mat-form-field class="mat-form-field">
        <label>
          <b>Forename</b>
        </label>
        <input name="forename" matInput type="text" value="Place" required>
      </mat-form-field>
      <br/>
      <mat-form-field class="mat-form-field">
        <label>
          <b>Surname</b>
        </label>
        <input name="surname" matInput type="text" value="Holder" required>
      </mat-form-field>
      <br/>

      <mat-form-field class="mat-form-field">
        <input name="currentpassword" matInput type="password" placeholder="Current Password" required>
      </mat-form-field>
      <br/>

      <div id="confirm-error-container" class="mat-typography center-confirm-element">
        <mat-icon *ngIf="loginerror" svgIcon="warning-triangle"></mat-icon>
        <span *ngIf="loginerror" id="login-error-text" class="mat-body-2">{{loginerror}}</span>
      </div>

      <div id="confirm-button-container" class="center-confirm-element">
        <button mat-raised-button color="primary" type="submit" label="Confirm">Confirm</button>
      </div>
    </div>
  </form>
</div>