<div id="form-container" class="center-confirm-element">
  <form id="accountform" name="accountForm" #f="ngForm" (ngSubmit)="attemptModify(f)">

    <div id="change-header" class="mat-typography center-login-element">
      <div id="change-text-decorator">&nbsp;</div>
      <span id="change-text" class="mat-display-1">Modify user credentials</span>
    </div>

    <div id="input-fields-container" class="center-confirm-element">
      <mat-form-field class="mat-form-field">
        <input name="username" matInput type="text" value={{data.username}} placeholder="Username" required ngModel #username="ngModel">
        <mat-hint align="start" *ngIf="modifyErrors.username" class="form-field-errortext">{{modifyErrors.username}}</mat-hint>
        <mat-hint align="end">{{username.value?.length || 0}}/20</mat-hint>
        <mat-icon matTooltip="Username must be 5-20 characters long, and can only contain lower and uppercase letters" matTooltipPosition="left"
          class="information-icon" svgIcon="information"></mat-icon>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input name="password" matInput type="password" placeholder="New password" ngModel #password="ngModel">
        <mat-hint align="start" *ngIf="modifyErrors.password" class="form-field-errortext">{{modifyErrors.password}}</mat-hint>
        <mat-hint align="end">{{password.value?.length || 0}}/20</mat-hint>
        <mat-icon matTooltip="Password must be 8-20 characters long, have 1 uppercase letter, 1 lowercase letter and 1 number" matTooltipPosition="left"
          class="information-icon" svgIcon="information"></mat-icon>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input matInput maxlength=20 name="repeatpassword" ngModel type="password" placeholder="Repeat Password" #repeatpassword="ngModel">
        <mat-hint align="start" *ngIf="!doPasswordsMatch(password.value,repeatpassword.value)" class="form-field-errortext">Passwords don't match!</mat-hint>
        <mat-hint align="end">{{repeatpassword.value?.length || 0}}/20</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input name="forename" matInput type="text" value={{data.forename}} placeholder="Forename" required ngModel #forename="ngModel">
        <mat-hint *ngIf="modifyErrors.forename" class="form-field-errortext">{{modifyErrors.forename}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input name="surname" matInput type="text" value={{data.surname}} placeholder="Surname" required ngModel #surname="ngModel">
        <mat-hint *ngIf="modifyErrors.surname" class="form-field-errortext">{{modifyErrors.surname}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input name="currentpassword" matInput type="password" placeholder="Current Password" required ngModel #currentpassword="ngModel">
      </mat-form-field>

      <div id="confirm-error-container" class="mat-typography center-confirm-element">
        <mat-icon *ngIf="modifyErrors" svgIcon="warning-triangle"></mat-icon>
        <span *ngIf="modifyErrors" id="login-error-text" class="mat-body-2">{{modifyErrors}}</span>
      </div>

      <div id="confirm-button-container" class="center-confirm-element">
        <button mat-raised-button color="primary" type="submit" label="Confirm">Confirm</button>
      </div>
    </div>
  </form>
</div>